<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2 class="mt-5">Microservices Dashboard</h2>
    <div class="list-group mt-3">
      <a href="http://localhost:3001/create-user" class="list-group-item list-group-item-action">Create User Microservice</a>
      <a href="http://localhost:3003/update-user" class="list-group-item list-group-item-action">Update User Microservice</a>
      <a href="http://localhost:3004/delete-user" class="list-group-item list-group-item-action">Delete User Microservice</a>
      <a href="http://localhost:3007/audit" class="list-group-item list-group-item-action">Audit Service</a>
      <!-- Añade más enlaces a microservicios según sea necesario -->
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
